[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
openpyxl = "*"
xlrd = "*"
beautifulsoup4 = "*"

[dev-packages]
djlint = "*"

[requires]
python_version = "3.13"
